<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Component Layout</title>
</head>
<body>
    <!-- include all dependencies -->


    <div id="top-level"></div>
    <!-- Get cdn react, react-dom, and babel -->

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <!-- <script src="https://unpkg.com/react@17/umd/react.development.js"></script> -->

    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <!-- <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" ></script>

    <!-- include js file for component with type attribute to read it as jsx -->
    <script src="names.js" type="text/jsx"></script>
    <script src="Languages.js" type="text/jsx"></script>
    <script src="TechStack.js" type="text/jsx"></script>
    <script src="App.js" type="text/jsx"></script>

</body>
</html>